<div class="medium-4 columns" data-equalizer-watch>
<div class="card">
  <div class="image">
    <img src="<%= user.photo %>">
    <span class="title"><%= user.name %></span>
  </div>
  <div class="content">
    <p><%= user.location %></p>
    <p><%= user.description %></p>
  </div>
  <div class="action">
    <%= link_to 'More info', user_path(user.id) %>
  </div>
</div>
</div>

