<article class="website-example row wide spacer">
    <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
          <img src="<%= user.photo %>" alt="Member photo">
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <h3><%= user.name %></h3>
      <p><%= user.location %></p>
      <h6><%= user.description %></h6>
      <%= link_to 'More info', user_path(user.id), class: "button text-transform" %>

      <% if current_user == user %>

      <%= link_to 'Edit profile', edit_user_path(user.id), class: "button secondary" %>
      <% end %> 
    </div>
</article>

