<h1>Edit</h1>
<%= form_for @user do |f| %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :location %><br />
  <%= f.text_field :location, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :photo %><br />
  <%= f.text_field :photo, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.submit "Save" %>
</div>

<% end %>