
   <div class="row">
   <%= render @meals %>
     <div class="medium-6 columns end">
       <div class="card">
       <div class="action">
       <ul class="small-block-grid-2">
            <li><%= serving.day %></li>
            <li><%= serving.location %></li>
          </ul>
          <ul class="small-block-grid-2">
            <li><%= serving.price %></li>
            <li><%= link_to "Order", new_serving_order_path(serving), class: "btn-btn-primary" %></li>
          </ul>
       </div>
       </div>
     </div>
   </div>


