<h1>All Servings</h1>

<button><%= sort_link @q, :day %></button>
<button><%= sort_link @q, :price %></button>

<li>
<%= search_form_for @q do |f| %>
<%= f.label :price_or_day_start %>
<%= f.text_field :price_or_day_start %>
<%= f.submit %>
<% end %>
</li>

<div class="row" data-equalizer>
<%= render @servings %>
</div>

