
<div class ="row spacer" data-equalizer>
  <div class="medium-4 columns" data-equalizer-watch>
    <div class="card">
      <div class="image" style="height: 200px">
        <img src="<%= @serving.meal.graffiti_image %>">
        <span class="title">Cook : <%= @serving.meal.user.name %></span>
      </div>
      <div class="Main-content">
        <h5><%= link_to "#{@serving.meal.title}", serving_path(@serving.id) %></h5>
        <hr>
      </div>
      <div class="content"> <%= @serving.meal.description %>
        <hr>
      </div>
      <div class="content">
        <ul class="small-block-grid-2">
          <li><h5>Day:</h5><b><%= @serving.day %></b></li>
          <li><h5>Location:</h5><b><%= @serving.location %></b></li>
        </ul>
        <ul class="small-block-grid-2">
          <li><h5>Price:</h5><b>£<%= @serving.price %></b></li>
          <li><%= link_to "Order", new_serving_order_path(@serving), class: "button text-transform" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="medium-8 columns">
  <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @serving } %>
    <%= render partial: 'comments/form', locals: { commentable: @serving } %>
    
  </div>
</div>

