<div class="card card-block row">

  <p class="card-text"><%= order.details %></p>
  <p class="card-text">Status: <%= order.status %></p>
  <div class="actions pull-xs-right">
    <% if current_page?(action: "outbox") %>
      <%= link_to "Cancel", cancel_order_path(order), class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "Reject", reject_order_path(order), class: "btn btn-danger" %>
      <%= link_to "Accept", accept_order_path(order), class: "btn btn-success" %>
    <% end %>
  </div>
</div>