<div class="row">
  <div class="medium-8 columns">
    <div class="callout-card">
      <div class="card-label">
        <div class="label-text">
          Order!
        </div>
      </div>
      <div class="callout-card-content">
        <h3 class="lead"> <%= order.status %></h3>
        <p><%= order.details %></p>
      </div>
      <div class="actions pull-xs-right">
        <% if current_page?(action: "outbox") %>
          <%= link_to "Cancel", cancel_order_path(order), class: "button disabled" %>
        <% else %>
          <%= link_to "Reject", reject_order_path(order), class: "button alert" %>
          <%= link_to "Accept", accept_order_path(order), class: "button success" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>