<h1>New Order</h1>

<%= form_for [@serving, @order] do |f| %>
  <% if @order.errors.any? %>
    <% for message in @order.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: "form-control" %>
  </fieldset>
  <%= f.submit class: "btn btn-primary" %>
<% end %>