
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lunch box</title>
  
       <ul class="example-orbit" data-orbit>
        <li><%= image_tag 'large_photo_cake' %></li>
        <li><%= image_tag 'large_photo_cheese' %></li>
        <li><%= image_tag 'large_photo_salad' %></li>
      </ul>
 


  <ul class="small-block-grid-3">
    <li><!-- Your content goes here --></li>
    <li><h1>Welcome to Meal Box</h1><br>
    <h2>The home-made lunch sharing community !</h2><br>
        <h5>Make money cooking and enjoy awesome home made lunches everyday !</h5>
    </li>
    <li><!-- Your content goes here --></li>
  </ul>

<div class="row"> 
  <div class="large-4 medium-4 columns">
   <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">Make Money by Cooking !</li>
      <li><i class="fa fa-cutlery fa-5x fa-border" aria-hidden="true"></i></li>
      <li class="bullet-item">You cook your lunch box every day. Just cook two or three more portions and make some good money doing something you like!</li>
      <li><%= link_to "Sell Food !", new_user_registration_path, class: "button text-transform" %></li>
   </ul>
 </div>

 <div class="large-4 medium-4 columns">
   <ul class="pricing-table active-tb shadow mrgn-20-top">
     <li class="title">Enjoy Home made food</li>
     <li><i class="fa fa-money fa-5x fa-border" aria-hidden="true"></i></li>
     <li class="bullet-item">Tiered of eating sandwitches, burger or pasta? Want to eat something different and tasty ? Just join us and enjoy incredible home made food</li>
     <li><%= link_to "Find Food !", servings_path, class: "button text-transform" %></li>
   </ul>
 </div>
 <div class="large-4 medium-4 columns">
   <ul class="pricing-table active-tb shadow mrgn-20-top">
     <li class="title">The meal next door</li>
     <li><i class="fa fa-globe fa-5x fa-border" aria-hidden="true"></i></li>
     <li class="bullet-item">No time for corssing London during lunch break ? No worries, just look for the closest meal ! </li>
     <li><%= link_to "On a Map", map_path, class: "button text-transform" %></li>
     </ul>
 </div>
</div>




<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
