<div class="medium-4 columns" data-equilizer>
    <div class="card">
      <div class="image" style="max-height: 220px">
        <%= image_tag meal.graffiti_image %> 
        <span class="title"><%= meal.title %></span>    
      </div>
      <div class="content">
        <p><%= meal.description %></p>
        <hr>
        <b>category :</b> <p><%= meal.category %></p>
      </div>
      <hr>
         <ul class="small-block-grid-2">
          <li><b><%= link_to 'Edit Meal', edit_meal_path %></b></li>
          <li><b><%= link_to 'Make it a serving !', new_serving_path %></b></li>
        </ul>
    </div>
  </div>
