<div class="medium-6 columns" data-equilizer>
    <div class="card">
      <div class="image">
        <img src="<%= meal.image %>">     
      </div>
      <div class="content">
        <span class="title"><%= meal.title %></span>
        <p><%= meal.description %></p>
        <p><%= meal.category %></p>
      </div>
      <div class="action">
        <%= link_to 'More details', meal_path(meal.id) %>
      </div>
    </div>
  </div>

  