<h1>Meals#edit</h1>
<p>Find me in app/views/meals/edit.html.erb</p>

<div class="row">
<div class="medium-6 columns">
<h1>Edit</h1>
<%= form_for @meal do |f| %>

<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :category %><br />
  <%= f.text_field :category, autocomplete: "off" %>
</div>

<div class="field">
   <%= f.label :graffiti_image %><br />
   <%= f.file_field :graffiti_image %>
 </div>

<div class="actions">
  <%= f.submit "Save" %>
</div>

<% end %>
<div class="row">
<div class="medium-6 columns">