<div class="row">
<div class="medium-6 columns">
<h1>List Meals</h1>
<%= form_for @meal do |f| %>
  <% if @meal.errors.any? %>
    <% for message in @meal.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>


  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </fieldset>
  <div class="field">
     <%= f.label :graffiti_image %><br />
     <%= f.file_field :graffiti_image %>
   </div>
  <fieldset class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, class: "form-control" %>
  </fieldset>
  
  <%= f.submit "standard" , class: "btn btn-primary" %>
  <%= f.submit "serving" , class: "btn btn-primary" %>

<% end %>
</div>
</div>
