<div class="row">
<div class="medium-6 columns">
<h1>List Meals</h1>
<%= form_for @meal do |f| %>
  <% if @meal.errors.any? %>
    <% for message in @meal.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>



    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

  
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>


     <%= f.label :Upload_Image %>
     <%= f.file_field :graffiti_image %>


     <%= f.label :category %>
     <%= f.select :category, ['French', 'British','Asian','Italian','Japanese','Vegan','Organic','Salad','Mediterranean', 'Other'] %>

  
  <%= f.submit "Save in your meals" , class: "button text-transform" %>
  <%= f.submit "Make it a serving !" , class: "button text-transform" %>

<% end %>
</div>
</div>
