
<div class="row">
  <div class="medium-8 columns">
    <div class="card">
      <div class="image">
        <img src="<%= @meal.image %>">
        <span class="title"><%= @meal.title %></span>
      </div>
      <div class="content">
        <p><%= @meal.category %></p>
        <p><%= @meal.description %></p>
      </div>
      <div class="action">
        <%= link_to 'Edit Meal', edit_meal_path %>
      </div>
      <div class="action">
       
      </div>
    </div>
  </div>
</div>

